<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- start: Css -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- plugins -->
    <link th:href="@{/css/plugins/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/simple-line-icons.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/fullcalendar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/icheck/skins/flat/aero.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>




</head>
<body>

</body>
</html>