<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/components :: head"></head>
<head>
    <title>xxxxx</title>
</head>

<body id="mimin" class="dashboard form-signin-wrapper">
<div class="container">
    <form class="form-signin">
        <div class="panel periodic-login"><span class="atomic-number">V3.0</span>
            <div class="panel-body text-center">
                <h1 class="atomic-symbol"><img th:src="@{/img/blueWhale.jpg}" width="30%" alt=""/></h1>
                <p class="atomic-mass">xxxxx</p>
                <p class="element-name">xxxxx</p>
                <i class="icons icon-arrow-down"></i>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" required="required"/>
                    <span class="bar"></span>
                    <label>账号</label>
                </div>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" class="form-text" required="required"/>
                    <span class="bar"></span>
                    <label>密码</label>
                </div>
                <label class="pull-left">
                    <input type="checkbox" class="icheck pull-left" name="checkbox1"/>
                    记住密码
                </label>
                <input type="submit" class="btn col-md-12" value="登 录"/>
            </div>
            <div class="text-center" style="padding:5px;"> 版权所有：xxxxxx</div>
        </div>
    </form>
</div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>